
body{
    background: gray;
}

.form{
    width: 100%;
    margin-top: 2rem;
    text-align: center;
}

.button {
    background: orangered;
    border: none;
    padding: 0.2rem 0.8;
    border-radius: 15px;
    color: #ccc;
    cursor: pointer;
    margin: 1rem 0;
}

.tareas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}